<h1>Login</h1>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<%= form_for(@user, url: logins_create_path) do |f| %>
<div class="field">
 <%= f.label :name %><br />
 <%= f.text_field :name %>
</div>
<div class="field">
 <%= f.label :password %><br />
 <%= f.password_field :password %>
</div>

 <div class="actions">
    <%= f.submit("Log in") %>
 </div>
<% end %>

 <div class="actions">
    <%= link_to "Sign up", new_user_path %>
 </div>