<%= form_for(@user_tweet) do |f| %>
  <% if @user_tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user_tweet.errors.count %>箇所エラーがあります。</h2>

      <ul>
      <% @user_tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"  style="display:none;">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, value: session[:login] %>
  </div>
  <div class="field">
    <%= f.label :tweet %><br />
    <%= f.text_area :tweet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
