<h1>つぶやき一覧</h1>
<% if notice %><p id="notice"><%= notice %></p><% end %>

<h2><%= link_to 'つぶやく', new_user_tweet_path %></h2>

<table style="float:left;">
  <tr>
    <th>User</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
  </tr>

<% @user_tweets.each do |user_tweet| %>
  <tr>
    <td><%= user_tweet.user.name %></td>
    <td><%= user_tweet.tweet %></td>
    <td><%= link_to 'Edit', edit_user_tweet_path(user_tweet) %></td>
    <td><%= link_to 'Destroy', user_tweet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div id="user_list" style="float:right;">
<h1>ユーザー一覧</h1>
<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% if session[:login] != user.id %>
      <td><%= user.name %></td>
      <td><%= link_to 'follow', relations_path(following_id: session[:login], followed_id: user.id), method: :post %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br>
<%= link_to "フォローしている友人を解除", relations_path %>
</div>
<br />


