<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_tweet.user_id %>
</p>

<p>
  <b>Tweet:</b>
  <%= @user_tweet.tweet %>
</p>


<%= link_to 'Edit', edit_user_tweet_path(@user_tweet) %> |
<%= link_to 'Back', user_tweets_path %>
