<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="float:right;">
	<% if session[:login] %>
		<%= "id=#{session[:login]}のユーザーがログイン中" %>
		<%= link_to "log out", logins_destroy_path, method: :delete %>
	<% end %>
	</div>

<%= yield %>

</body>
</html>
